<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="left-block">
            <h1>Trainbusters</h1>
        </div>
        <div class="col-md-6" id="right-block">
        </div>
    </div>
</div>